# Ignore CI3 system folder
system/**

# Ignore config files
application/config/**

# Ignore third-party libraries
application/third_party/**

# Ignore cache files
application/cache/**

# Ignore log files
application/logs/**

# Ignore error files in views
application/views/errors/**

# Ignore index.html file
*.html

# Ignore vendor folder (jika ada)
vendor/**

# Ignore node_modules
node_modules/**

# Ignore asset folders (contoh)
assets/**
public/**

# Ignore file environment
.env

# Ignore JSON package
package-lock.json
package.json

# Ignore Prettier Configuration
.prettierrc.json